.container {
  position: relative;
  height: 100vh;
}

.header {
  background-color: #fff;
  position: relative;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 .5rem;
  z-index: 2;
}

.main {
  background-color: #f5f5f5;
  position: relative;
  height: calc(100% - 200px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
}

.messages::-webkit-scrollbar {
  display: none;
}
.messages {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.datelabel {
  position: relative;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
.datelabeltext {
  background-color: #dce6ef;
  color: #21354799;
  font-size: .8rem;
  font-weight: 600;
  padding: .125rem .5rem;
  border-radius: 1rem;
}

.message {
  /*background-color: #efd;*/
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
}
.message:last-child {
  padding-bottom: .5rem;
}
.avatar {
  position: relative;
  /*background-color: rebeccapurple;*/
  width: 45px;
  display: flex;
  justify-content: center;
  padding-top: .5rem;
}
.textpanel {
  /*background-color: burlywood;*/
  position: relative;
  width: calc(100% - 45px);
  display: flex;
}
.text {
  position: relative;
  background-color: #0084ff;
  padding: .5rem;
  border-radius: 5px;
  min-width: 40%;
  max-width: 90%;
}
.textContent {
  white-space: pre-wrap;
  color: #fff;
}
.datetime {
  margin-top: .25rem;
  font-size: .7rem;
  color: #fff9;
  text-align: right;
}
.user .avatar {
  order: 2;
}
.user .textpanel {
  order: 1;
  justify-content: flex-end;
}
.user .text {
  background-color: #fff;
}
.user .textContent {
  color: #213547;
}
.user .datetime {
  text-align: left;
  color: #21354799;
}
.control {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.input {
  position: relative;
  width: 100%;
  margin: 1rem;
  max-width: 800px;
}
.loading {
  position: relative;
  padding: 1rem 0;
}